.main-container {
    display: none; /* Initially hide the main content */
}

.skylite-user-registration {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.skylite-user-registration h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skylite-user-registration label {
    display: block;
    margin-bottom: 5px;
}

.skylite-user-registration input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.skylite-user-registration button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.skylite-user-registration button:hover {
    background-color: #0056b3;
}